.header {
    z-index: 99;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba($color: $color-navy, $alpha: 0.9);
    @include media-breakpoint-down(sm) {
        padding: 16px;
    }
}
.logo {
    img {
        width: 93px;
        @include media-breakpoint-down(sm) {
            width: 80px;
        }
    }
    &-shrink {
        img {
            width: 60px;
        }
    }
}



.nav {
    &-item {
        padding: 2px 10px;
        text-transform: uppercase;
        font-weight: 600;
        color: $color-cyan;
        text-decoration: none !important;
        opacity: 0.5;
        transition: 0.5s;
        &-active {
            opacity: 1;
        }
    }
}
.nav-item:hover {
    opacity: 1;
}

.social-icon {
    text-align: right;
    img {
        width: 28px;
        margin-left: 15px;
    }
}



.footer {
    padding: 120px 20px 20px 20px;
    font-size: 12px;
    @include media-breakpoint-down(sm) {
        padding: 120px 0px 20px 0px; 
    }
    .flex {
        justify-content: flex-end;
    }
}

